rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'raghavsharma8284@gmail.com';
    }

    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
      allow read: if isAdmin();
    }

    match /conversations/{convId} {
      allow read, write: if request.auth != null
        && convId.matches(request.auth.uid + '_.*');
      allow read: if isAdmin();

      match /messages/{msgId} {
        allow read, write: if request.auth != null
          && convId.matches(request.auth.uid + '_.*');
        allow read: if isAdmin();
      }
    }
  }
}
